<app-navbar [title]="'Search country'"></app-navbar>
<div class="row no-gutters pt-2">
    <div class="col-12 form-group has-search pl-2">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search" [formControl]="searchControl">
        <a *ngFor="let country of countriesList" class="dropdown-item border" (click)="goToCountryDetail(country)">{{country.name}}</a>
    </div>  
</div>
