<app-navbar [title]="title"></app-navbar>
<div class="container">
    <div class="row mt-2" *ngIf="country">
        <div class="col-lg-6 col-sm-12">
            <div class="row ml-1 mt-2 mb-2">  
                <img [src]="country.flag" class="flag">
            </div>
            <div class="row lg-flag"></div>
            <div class="row mt-6">
                <div class="col-12 font-weight-bold">Name: <label class="font-weight-normal">{{country.name}}</label> </div>
            </div>
            <div class="row mt-2 no-gutters">
                <div class="col-12 font-weight-bold">Native name: <label class="font-weight-normal">{{country.nativeName}}</label></div>
            </div>
            <div class="row mt-2">
                <div class="col-12 font-weight-bold">Region: <label *ngFor="let region of country.regionalBlocs" class="font-weight-normal">{{region.name}}</label></div>
            </div>
            <div class="row mt-2">
                <div class="col-12 font-weight-bold">Capital: <label class="font-weight-normal">{{country.capital}}</label></div>
            </div>
             <div class="row mt-2">
                <div class="col-12 font-weight-bold">Area: <label class="font-weight-normal">{{country.area}} km2</label></div>
            </div>
            <div class="row mt-2">
                <div class="col-12 font-weight-bold">Languages: <label *ngFor="let language of country.languages; let isLast=last"  class="font-weight-normal">{{language.name}}{{isLast ? '' : ', '}}</label></div>
            </div>
            <div class="row mt-2">
                <div class="col-10 font-weight-bold">Translations: <label class="font-weight-normal">{{country.translations.de}} (de)</label></div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-10">
            <agm-map [latitude]="country.latlng[0]" [longitude]="country.latlng[1]" [zoom]="zoom">
            </agm-map>
        </div>
    </div>
   
</div>
