<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="row">
        <div class="col-5 back font-weight-bold pt-2"><a *ngIf="!isHome()" href="#"><Back</a></div>
        <div class="col-7"> <a class="navbar-brand"> {{title}} </a></div>
    </div>
</nav>